<!-- //pairler belli mi hocam -->
<!-- <div class="overlay show"></div> -->
<!-- <div class="wrapper"> -->
  <!-- Eğer popup servicedeki modelde isOpen=true ise wrapper classini ekle -->
  <!-- <app-pop-up *ngIf="show"></app-pop-up>
  <div [class.wrapper]="show">
  <etiya-button [buttonText]="'Login'"></etiya-button>

  <etiya-button
    [icon]="'fa-solid fa-user-plus'"
    [buttonColor]="'bg-orange'"
    [buttonText]="'Logout'"
  ></etiya-button>

  <etiya-button [buttonColor]="'bg-orange'" [buttonText]="'click'"></etiya-button>

  <etiya-input [requiredField]="true" [inputLabel]="'Search'"></etiya-input>

  <etiya-input [inputLabel]="'Search'" [inputType]="'number'"></etiya-input>
  
  <button class="btn btn-primary" (click)="runPopUp()"> {{ 'search_customer' | translate }} </button>

  <button class="btn btn-primary" (click)="changeLanguage('tr')">TR</button>
  <button class="btn btn-primary" (click)="changeLanguage('en')" >EN</button> -->

  <router-outlet></router-outlet>
<!-- </div> -->
<!-- </div> -->
