.bgc{
    background-color: #F8FAFF
    ;
}
.col-8{
    background-color:white;
    border-radius: 30px;
    padding: 20px;
}
.col-3{
    background-color:white;
    border-radius: 30px;
    margin-right: 20px;
    padding: 20px;
}